rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Match any document in the 'users' collection
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId; // Allow the user to create their own document
      allow read, update, delete: if request.auth != null && request.auth.uid == userId; // Allow only the owner to read, update, or delete their document

      // Match any document in the 'coffee-notes' sub-collection
      match /coffee-notes/{coffeeNoteId} {
        allow create: if request.auth != null && request.auth.uid == userId; // Allow the user to create notes
        allow read, update, delete: if request.auth != null && request.auth.uid == userId; // Allow only the owner to read, update, or delete their notes
      }
    }
  }
}